@media (max-width:756px) {
  .profile-main-container{
    flex-direction: column;

    .profile-menu{
      position: relative;
      padding-bottom: 5rem;
      .profile-pages{
        background-color: var(--color-bg-gray-light2);
        position: absolute;
        z-index: 90;
        bottom: 4rem;
        left: 50%;
        transform: translate(-50%, 100%);
        height: 51px;
        transition: height .33s ease-in-out;
        overflow: hidden;
        width: 65%;
        scroll-behavior: smooth;

        .list-group-item{
          &:not(:last-child){
            border-radius: 0;
          }
          border-bottom: 1px solid var(--color-text-gray-light);
          &.active{
            background: var(--color-bg-gray-light2);
            color: var(--color-primary);
            font-weight: 600;
          }
        }

        &.expanded{
          height: 290px;
          z-index: 110;
        }
      }

      .btn-toggle-menu{
        position: absolute;
        inset-inline-end: 2rem;
        inset-inline-start: 2rem;
        height: 40px;
        bottom: 1.25rem;
        direction: ltr;
        z-index: 99;
        cursor: pointer;
        align-content: center;
      }

      .btn-log-out{
        position: absolute;
        top: 1.5rem;
        inset-inline-start: 1.5rem;
        padding:0;
        color: var(--color-primary);
        font-size: 14px;
        font-weight: 500;
        border: none !important;
        box-shadow: none !important;
        svg{
          path{
            fill: var(--color-primary);
          }
        }

        
      }
      
    }
  }
}