.main-nav{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: #fff;
  box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.35);
  .navbar{
    padding: 0 3rem;
    column-gap: 3.5rem;
    .navbar-brand{
      padding: 1.8rem 0;
      margin-inline-start: 2rem;
    }

    .navbar-collapse{
      display: flex !important;
      overflow: hidden;
      transition: height 0.33s ease-in-out;
      column-gap: 10vw;
      justify-content: center;
      .form-search{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 0.5rem;
        padding: 0.7rem 1rem;
        background-color: var(--color-bg-input-lightgray);
        border-radius: 8px;
        box-shadow: 0 0 1px rgba(0, 0, 0, 0.35);
        input[type="search"]{
          font-size: 18px;
          line-height: 18px;
          font-weight: 500;
          color: var(--color-text-gray-normal);
          background-color: transparent;
          border: none;
          width: 22vw;
          max-width: 380px;
          min-width: 300px;


          &::placeholder{
            color: var(--color-text-gray-normal);
            opacity: 0.9;
            font-size: 14px;
          }
        }
      }

      .nav-items-container{
        display: flex;
        column-gap: 5vw;
        align-items: center;
        .navbar-nav{
          padding: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          column-gap: 3rem;
          .nav-item{
            .nav-link{
              padding: 0;
              font-size: 16px;
              font-weight: 500;
              color: var(--color-text-gray-normal);
              opacity: 0.8;
            }
            
            &.active{
              .nav-link{
                color: var(--color-primary);
                font-weight: 600;
              }
            }
          }

          &.user-links{
            column-gap: 1.5rem;
            .nav-item{
              position: relative;
              &::after{
                content: '';
                position: absolute;
                bottom: -8px;
                left: 50%;
                width: 0;
                height: 6px;
                background-color: var(--color-primary);
                border-radius: 8px;
                transform: translate(-50%);
                transition: width 0.3s ease-in-out;
              }

              &:hover{
                &::after{
                  width: 16px;
                }
              }

              &.active{
                &::after{
                  width: 16px;
                }
              }
            }
          }
        }
      }
    }
  }

  &:has(.expand){
    box-shadow: 2px 0 16px 2px var(--color-primary);
  }
}

