.contact{
  padding: 4rem 0 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;

  .card{
    padding: 2rem;
    border: none;
    box-shadow: 0 0 12px rgba(120, 120, 120, 0.2);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    .form-control{
      background-color: var(--color-bg-gray-light2);
      border-color: var(--color-bg-gray-light2);
      direction: rtl;

      &::placeholder{
        color: var(--color-text-gray-light);
      }
    }
  }
}